/* .genres {
  display: flex;
  max-width: 100px;
  gap: 5px;
  position: absolute;
  bottom: 100px;
  right: 0px;
  flex-wrap: wrap;
}
.genres .genre {
  background-color: var(--pink);
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
} */
.genres {
  display: flex;
  gap: 5px;
}
.genres .genre {
  background-color: var(--pink);
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
}

