.HeroBanner{
    width: 100%;
    height: 450px;
    background-color: var(--black);
    /* here also add some bg-color */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
@media screen and (min-width: 640px) {
    .HeroBanner {
    height: 700px;
    }
  }
 
 
  .backdrop-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;

  }
.lazy-load-image-background{
    width: 100%;
    height: 100%;

}
.lazy-load-image-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.opacity-layer{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.281);
    /* here i have to add linear gradient  */
    position: absolute;
    bottom: 0;
    left: 0;

}
.heroBannerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;

}
.title{
    font-size: 50px;
    font-weight: 700;

}

@media screen and (min-width: 640px) {
    .title {
    font-size: 90px;
    }
  }
 

  .searchInput{
    display: flex;
    align-items: center;
    width: 100%;

  }
  .searchInput input{
    width: calc(100% - 100px);
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 30px 0 0 30px;
    padding: 0 15px;
    font-size: 14px;
  }
 
  @media screen and (min-width: 640px) {
    .searchInput input {
   width: calc(100% - 150px);
   height: 60px;
   font-size: 18px;
   padding: 0 30px;
    }
  }

  .searchInput button{
    width: 100px;
    height: 50px;
    background: var(--gradient);
    color:  white;
    outline: none;
    border: 0;
    border-radius: 0 30px  30px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  @media screen and (min-width: 640px) {
    .searchInput button {
   width: 150px;
   height: 60px;
   font-size: 18px;
 
    }
  }
